
/********************
REUSABLE & COMMONCODE
********************/

html{
    font-size: 15px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    user-select: none;
    outline: none;
    overflow-x: hidden;
    width: 100vw;
    font-family: "Lato",sans-serif;
    background-color:var(--white) ;
    color: var(--blue-berry);
}

:root{
    --sunrise-red-dark:#ff6767;
    --sunrise-red-light: #FF4545;
    --body-dark:#232931;
    --white:#ffffff;
    --white-dark:#eeeeee;
    --blue-berry: #141c3a;
}

.container {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
}

.home,
.about-me{
    height: 100vh;
}

/********************
******* HOME ********
********************/

.home{
    display: flex;
    flex-direction: column;
}

header{
    flex:1;
    display: flex;
    flex-direction: column;
    margin-top:1.5rem;
    justify-content: space-around;
}

/* nav  */

nav{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}

.logo{
    margin-right: auto;
}

.logo>img,
.logo>source{
    width:72px;
    margin: 0.8rem;
}

.nav-list-father{
    position: relative;
        width: 100%;
}

.nav-list{
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
    transition: 0.5s ease;
}

.nav-list-active{
    transform: translateY(0);
}

.nav-links{
    margin-top: 1.4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link:first-child{
    margin: 0 16px 16px 0;
}

.nav-link>a,
.nav-link>a:visited,
.nav-link>a:focus{
    text-decoration: none;
    color: var(--blue-berry);
    font-size: 1.2rem;
}

.burger {
    cursor: pointer;
    display: block;
    margin: auto 0;
}

.burger-line {
    display: block;
    background-color:var(--blue-berry) ;
    height: 5px;
    width: 33px;
    margin: 7px 0;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.line-one-acitve{
    transform: translateY(12px) rotate(135deg);
}

.line-two-acitve{
    transform: scale(0);
}

.line-three-acitve{
    transform: translateY(-12px) rotate(-135deg);
}

/* mid-home */

.headers-block{
    margin-top: 0.6rem;
}

.headers{
    text-align: center;
}

.header-header-big{
    font-size: 1.7rem;
    margin-bottom:1.2rem;
}

.header-header-small{
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
}

.person-img{
    /* width: 100%; */
    position: relative;
    text-align: center;
}

.person-img>img{
    width: 68%;
}

/* social-block  */

.social-block{
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 2rem;
}

.social{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 55%;
    margin: 0 auto;
}

.social-icon{
    color: var(--blue-berry);
    font-size: 2rem;
}

/********************
*** ABOUT ME PAGE ***
********************/

.devices-img{
    width: 100%;
    background-color:var(--white);
    text-align: center;
}

.devices-img>img{
    width: 75%;
    margin: 0 auto;
    display: block;
}

.about-me{
    background-color:var(--sunrise-red-light);
    color: var(--white);
    display: flex;
    flex-direction: column;
}

main{
    display: block;
    position: relative;
    flex: 1;
}

.main-disc{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 

.main-header{
    font-size: 1.7rem;
    margin-bottom:1.8rem; 
}

.eng-quran-verse,
.ar-quran-verse{
    font-family: "Amiri",serif;
    font-size: 1.4rem;
    line-height: 120%;
    margin-bottom:1rem;
}

.ar-quran-verse{
    line-height: 140%;
}

/********************
****** MY WORK ******
********************/

.my-projects-container{
    padding:2rem 0.7rem 0 0.7rem  ;
    margin-bottom: 2rem;
}

.my-projects-container>.headers{
    font-size: 2rem;
    margin-bottom: 1.7rem;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.card{
    display: flex;
    flex-direction: column;
    border: 0.5px solid #e6ecf8;
    text-align: center;
    padding:2rem 3rem;
}

.card:nth-child(1){
    border-radius: 6px 6px 0 0;
}

.card:nth-child(3){
    box-shadow: 0 15px 15px -5px #e6ecf8;
    border-radius: 0 0 6px 6px;
}

.card-icon{
    font-size: 3.6rem;
    margin: 0 auto;
    margin-bottom: 1.4rem;
    color: var(--sunrise-red-light);
}

.card-header{
    margin-bottom:1.4rem;
    font-size: 1.5rem;
}

.card-desc{
    margin-bottom:1.4rem;
}

.visit-buttons{
    background-color:var(--sunrise-red-light);
    color: var(--white);
    text-decoration: none;
    font-size: 1.3rem;
    border-radius:3px;
    width: fit-content;
    margin: 0 auto;
    padding: 7px 20px;
}