/* 
#FF4959 
*/
/********************
*** REUSABLE CODE ***
********************/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    user-select: none;
    outline: none;
    overflow-x: hidden;
    width: 100vw;
    max-width: 1200px;
    font-family: "Lato",sans-serif;
    color: #141c3a;
}

.container {
    width: 96%;
    margin: 0 auto;
}

/********************
******* HOME ********
********************/

.home,
.about-me{
    height: 100vh;
}

/* nav  */

nav{
    display: flex;
    justify-content: space-between;
    padding:20px 20px;
    margin:0 auto;
}

/* logo  */

.logo{
    margin-right: auto;
}

/* nav-links  */

.nav-links{
    display: none;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list>li:first-child{
    margin-right: 16px;
}

.nav-list>li>a,
.nav-list>li>a:visited,
.nav-list>li>a:focus{
    text-decoration: none;
    color: #141c3a;
    font-size: 1.2rem;
}

/* burger  */
.burger {
    cursor: pointer;
    display: block;
    margin: auto 0;
}

.burger-line {
    height: 5px;
    width: 33px;
    margin: 0.6rem;
    background-color:#141c3a ;
}

.person-img{
    width: 85%;
    height: auto;
    margin: 0 auto;
    margin-top: 0.7rem;
    text-align: center;
}

/********************
***** HOME PAGE *****
********************/

.txt-content{
    padding: 2.2rem 0.5rem 3.5rem 0.5rem;
}

.headers{
    text-align: center;
}

.header{
    font-size: 1.7rem;
    margin-bottom:1.2rem;
}

.header-son{
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
}

.devices-img{
    width: 100%;
    background-color:#ffffff;
    text-align: center;
    margin-top: 0.7rem;
}

.person-img>img{
    width: 70%;
}

/********************
*** ABOUT ME PAGE ***
********************/
.devices-img>img{
    width: 85%;
    margin: 0 auto;
    display: block;
}

.about-me{
    background-color:#FF4959;
    color: #ffffff;
}

.info{
    text-align: center;
    position: relative;
    top: 18%;
}

/********************
****** MY WORK ******
********************/
.my-projects-container{
    padding:2rem 0.7rem 0.7rem 0 ;
    margin-bottom: 2rem;
}

.my-projects-container>.headers{
    font-size: 2rem;
    margin-bottom: 1.7rem;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.card{
    display: flex;
    flex-direction: column;
    border: 0.5px solid #e6ecf8;
    text-align: center;
    padding:2rem 3rem;
}

.card:first-child{
    border-radius: 5px 5px 0 0;
}

.card:last-child{
    border-radius: 0 0 5px 5px;
}

.card-icon{
    font-size: 3.6rem;
    margin: 0 auto;
    margin-bottom: 1.8rem;
    color: #FF4959;
}

.card-header{
    margin:1.5rem 0;
    font-size: 1.5rem;
}

.card-desc{
    margin-bottom:1rem;
}