/* 
#FF4959 
*/

/********************
*** GENERAL CODE ****
********************/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    user-select: none;
    outline: none;
    overflow-x: hidden;
    width: 100vw;
    max-width: 1200px;
    font-family: "Lato",sans-serif;
    color: #141c3a;
}

.container {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
}

.home,
.about-me,
.my-projects{
    height: 100vh;
}

/********************
******* HOME ********
********************/

.home{
    background-color:#999999;/*<!>*/
}


/***** nav  ******/

nav{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}

.logo{
    width: 75px;
    margin:20px 20px;
}

/*nav-links*/

.nav-links-container{
    width: 100%;
    display: relative;
}

.nav-links{
    display: absolute;
    width: 100%;
    padding: 1.5rem;
    transform: translateY(-100%);
    transition: ease 0.5s;
}

.nav-links-active{
    transform: translateY(0);
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link:first-child{
    margin: 0 16px 16px 0;
}

.nav-link>a,
.nav-link>a:visited,
.nav-link>a:focus{
    text-decoration: none;
    color: #141c3a;
    font-size: 1.2rem;
}

/* burger  */
.burger {
    cursor: pointer;
    display: block;
    margin: auto 25px;
}

.burger-line {
    display: block;
    background-color:#141c3a ;
    height: 5px;
    width: 33px;
    margin: 7px 0;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.line-one-acitve{
    transform: translateY(12px) rotate(135deg);
}

.line-two-acitve{
    transform: scale(0);
}

.line-three-acitve{
    transform: translateY(-12px) rotate(-135deg);
}

/***** mid-home ******/

/* home-text  */

/* .home-text-father{
    display: grid;
    grid-template-rows: 2fr 3fr 1fr ;
} */

.home-text{
    margin: 1.5rem auto;
}

.headers{
    text-align: center;
}

.header{
    font-size: 1.7rem;
    margin-bottom:1.2rem;
}

.header-son{
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
}

/* home-img  */

.person-img{
    width: 100%;
    height: auto;
    margin: 2rem auto;
    text-align: center;
}

.person-img>img{
    width: 75%;
    margin: 1rem;
}

/* social  */

.social-container{
    width: 100%;
    order: 4;
    text-align: center;
}

.social-block{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    margin: 0 auto;
}

.social-icon{
    color: #141c3a;
    font-size: 2.1rem;
}

/********************
*** ABOUT ME PAGE ***
********************/

.about-me{
    background-color:#ff3b4b;
    color: #ffffff;
    height: 100vh;
}

.devices-img{
    width: 100%;
    background-color:#ffffff;
    text-align: center;
    margin-top: 0.7rem;
}

.devices-img>img{
    width: 85%;
    margin: 0 auto;
    display: block;
}

.about-me-text-content{
    text-align: center;
    position: relative;
    top: 5%;
}

.about-me-header{
    font-size: 1.7rem;
    margin-bottom:2rem; 
}

.ar-quran-verse{
    direction: rtl;
    font-family: "Amiri",serif;
}

.eng-quran-verse,
.ar-quran-verse{
    display: block;
    font-size: 1.4rem;
    line-height:95%;
}

.eng-quran-verse::before,
.eng-quran-verse::after,
.ar-quran-verse::before,
.ar-quran-verse::after{
    content: "*";
    font-size: 2rem;
}

/********************
****** MY WORK ******
********************/
.my-projects-container{
    padding:2rem 0.7rem 0 0.7rem  ;
    margin-bottom: 2rem;
}

.my-projects-container>.headers{
    font-size: 2rem;
    margin-bottom: 1.7rem;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.card{
    display: flex;
    flex-direction: column;
    border: 0.5px solid #e6ecf8;
    text-align: center;
    padding:2rem 3rem;
}

.card:first-child{
    border-radius: 6px 6px 0 0;
}

.card:last-child{
    box-shadow: 0 15px 15px -5px #e6ecf8;
    border-radius: 0 0 6px 6px;
}

.card-icon{
    font-size: 3.6rem;
    margin: 0 auto;
    margin-bottom: 1.4rem;
    color: #FF4959;
}

.card-header{
    margin-bottom:1.4rem;
    font-size: 1.5rem;
}

.card-desc{
    margin-bottom:1.4rem;
}

.visit-buttons{
    background-color:#FF4959;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius:3px;
    width: fit-content;
    margin: 0 auto;
    padding: 7px 20px;
}